<%= form_for(@qy_account) do |f| %>
  <% if @qy_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qy_account.errors.count, "error") %> prohibited this qy_account from being saved:</h2>

      <ul>
      <% @qy_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :qy_token %><br>
    <%= f.text_field :qy_token %>
  </div>

  <div class="field">
    <%= f.label :corp_id %><br>
    <%= f.text_field :corp_id %>
  </div>

  <div class="field">
    <%= f.label :encoding_aes_key %><br>
    <%= f.text_field :encoding_aes_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
