<h1>Listing qy_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qy_accounts.each do |qy_account| %>
      <tr>
        <td><%= qy_account.name %></td>
        <td><%= qy_wechat_engine.qy_verify_url(qy_account.qy_secret_key) %></td>
        <td><%= link_to 'Show', qy_account %></td>
        <td><%= link_to 'Edit', edit_qy_account_path(qy_account) %></td>
        <td><%= link_to 'Destroy', qy_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qy account', new_qy_account_path %>
